{% extends '::base.html.twig' %}

    {% block tittle %}Textos{% endblock %}




    {% block body %}


<div class= "container-fluid">
    <div class= "row">
        {% for texto in textos %}
            {{ include('texto/texto.html.twig', { 'texto': texto }) }}

        {% endfor %}
</div>
    </div>
        <div class="navigation text-center  col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{ knp_pagination_render(textos) }}
        </div>

    {% endblock %}

