{% extends '::base.html.twig' %}

    {% block tittle %}Textos{% endblock %}


    {% block body %}
        <a href="{{ path('app_texto_prueba') }}">Pagina principal del usuario</a><br>

            <a href="{{ path('app_categoria_index') }}">Categorias</a> <br>
            <a href="{{ path('app_usuarios_index') }}">Usuarios</a> <br>





    {% endblock %}

