{% extends '::base.html.twig' %}

    {% block tittle %}pagina principal de {{ usuario }}{% endblock %}

    {% block body %}


        {% for texto in textos %}
            <p>{{ texto }}</p>


        {% endfor %}


    {% endblock %}

