{% extends '::base.html.twig' %}

    {% block tittle %}{% endblock %}

    {% block body %}
        <a href="{{ path('app_texto_index') }}">Volver</a> <br>
        <a href="{{ path('fos_user_profile_edit') }}">Actualizar perfil</a> <br>
        {% for revistaTexto in revistaTextos %}
            {% if revistaTexto.visto == false %}
                <h4><span class="label label-danger">Nuevo</span></h4>
            {% endif %}
            {{ include('texto/texto.html.twig', { 'texto': revistaTexto.texto }) }}


        {% endfor %}

    {% endblock %}

