{% extends '::base.html.twig' %}

    {% block tittle %}{% endblock %}

    {% block body %}
        <a href="{{ path('app_texto_index') }}">Volver</a> <br>

        {% for texto in textos %}
            {{ include('texto/texto.html.twig', { 'texto': texto }) }}

        {% endfor %}

    {% endblock %}
