



    {% block body %}


        {% for categoria in categorias %}
            <option value={{ categoria.nombre }}>{{ categoria.nombre }}</option>
        {% endfor %}

    {% endblock %}
