.rounded-box {
    padding: 19px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.margin-bottom-xs {
    margin-bottom: 5px;
}
.margin-bottom-sm {
    margin-bottom: 10px;
}
.margin-bottom-md {
    margin-bottom: 15px;
}
.margin-bottom-lg {
    margin-bottom: 30px;
}

#barra-superior{
    height: 60px;
    margin-left: -9%;
    margin-top: -1%;
    background-color: white ;
}


#logoBarra{
    margin-top: -5%;
}

#buscar{
    margin-top: 3%;
}

#buscar:hover{
    background-color: lightgrey;
}

#login{
    margin-top: 3%;
    margin-left: -40%;
}

#cajaTexto {
 height: 550px;



}


p {
    font-size:1.5em;
}

.tag{
    float: left;
    margin-right:1%;
    background-color: #FF9900;
    padding: 2%;
    border-radius: 5%;
    margin-top: 2%;
    font-size: 1.4em;
}

a .tag{
    text-decoration: none;
    color: white;
    text-align:center;
}


#titulo{
    text-align: center;

}

#imagenPerfil img{
    max-height: 200px;
    margin: 0 auto;
}

#cajaTexto {
    height:600px;
}

#cuerpoIndividual{
    min-height:850px;

}

#usuarioDatos{

    margin-top: 2%;

}

#usuarioDatos a{
    text-decoration: none;
    color: black;
}

.botonesRevista{
    margin-bottom: 10px;
}


@media(max-width:780px){
    #cajaTexto {
    height: 900px;
    }

    #logoBarra{
        margin-top: -10px;
    }

    #usuarioDatos{
        text-align: center;
    }

    .botonesRevista{
        margin-top: 0;
    }

}

@media(max-width:580px){
    #cajaTexto {
        height:650px;
    }

    #usuarioDatos{
        text-align: center;


    }

}