.rounded-box {
    padding: 19px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.margin-bottom-xs {
    margin-bottom: 5px;
}
.margin-bottom-sm {
    margin-bottom: 10px;
}
.margin-bottom-md {
    margin-bottom: 15px;
}
.margin-bottom-lg {
    margin-bottom: 30px;
}

#barra-superior{
    height: 60px;
    margin-left: -9%;
    margin-top: -1%;
    background-color: white ;
}


#logoBarra{
    margin-top: -5%;
}

#buscar{
    margin-top: 3%;
}

#buscar:hover{
    background-color: lightgrey;
}

#login{
    margin-top: 3%;
    margin-left: -40%;
}

#cajaTexto {
 height: 550px;
}


p {
    font-size:1.5em;
}

.tag{
    float: left;
    margin-right:1%;
    background-color: #F9BD5C;
    padding: 2%;
    border-radius: 5%;
    margin-top: 2%;
    font-size: 1.4em;
}

a .tag{
    text-decoration: none;
    color: white;
    text-align:center;
}


#titulo{
    text-align: center;

}

#imagenPerfil img{
    max-height: 200px;
    margin: 0 auto;
}

#cajaTexto {
    height:600px;
}

#cuerpoIndividual{
    min-height:850px;

}

#usuarioDatos{
    margin-top: 2%;
}

#usuarioDatos a{
    text-decoration: none;
    color: black;
}

.btn-success{
    background-color: #3D918E !important;

}

.btn-danger{
    background-color: #C66937 !important;

}

.btn-warning{
    background-color: #F9BD5C !important;

}
.btn-info{
    background-color: #2A578E !important;

}

.btn-default{
    background-color: #F4FFFD !important;
}

.botonesRevista{
    margin-bottom: 10px;
}


/*index*/

#bienvenida{
    background-color: white;
    border-radius: 15px;
    width: 100%;
    height: 150px;
    margin-top: 5px;
    text-align: center;
    padding-top: 5px;
    color: black;
}

#bienvenida h1{
     font-family: 'Playfair Display';
}

#bienvenida h3{
    font-family: 'Source Sans Pro';
}

#myCarousel{
    margin-top: 7px;
}

.estiloMov{
    display: none;
}

.estiloPC{
    display: block;
}

#botonRegistro{
    background-color: orange ;
    margin-top:15px;
    margin-bottom: 30px;
    color:white;
    font-size: 1.5em;
    text-decoration: none;

}

.saberMas{
    background-color:#58ACFA;
    margin-bottom: 10px;
    color: white;
    
}

.saberMas:hover {
    background-color: #2E64FE;
    transition-duration: 0.4s;
    color: white !important;
}

.saberMas:focus {
    background-color: #2E64FE;
    color: white !important;
}

.cajaCarousel h1{   
    color: white;
}

.cajaCarousel{
    background-color: rgba(139,69,19,.5);
    border-radius: 25px;
}

#explicacionLeer{
    display: none;
}

#explicacionEscribir{
    display: none;
}

#explicacionConfeccionar{
    display: none;
}

.explicacionBox{
    font-size: 1.5em;

}

.explicacionBox h1{
    margin-top: 20px;
    font-family: 'Fjalla One';
}

.explicacionBox p{
    margin-top: 20px;
    font-family: 'Cantarell';
}

.botonSubir{
    visibility: hidden;
}


@media(max-width:780px){
    #cajaTexto {
    height: 900px;
    }

    #logoBarra{
        margin-top: -10px;
    }

    #usuarioDatos{
        text-align: center;
    }

    .botonesRevista{
        margin-top: 0;
    }

    .estiloPC{
        display: none;
    }

    .estiloMov{
        display: block;
    }

    .cajaMovil{
        position: absolute;
        bottom: 5px;
    }

    .saberMas{
        width: 100%;
        border-radius: 15px;
    }

    .explicacionBox{
    font-size: 1.2em;
    }

    .botonSubir, .botonSubir:hover, .botonSubir:focus{
        width: 15%;
        color: white !important;
        background-color: #424242;
        margin-right: 42.5%;
        margin-bottom: 50px;
        display:block;
        border: white;
        visibility: visible;
    }

    .botonSubir span{
        font-size: 1.7em;
    }

}

@media(max-width:580px){
    #cajaTexto {
        height:650px;
    }

    #usuarioDatos{
        text-align: center;


    }

}